
body,
html {
    background: #10171E;
}

.card{
    background: #15202B;
}
.signup {
    height: 80vh;
    
}

@media (max-width: 667px){
.small {
    font-size: 0.8rem;
    text-align: center;
    align-self: auto;
    
}
}

